:root {
  --primary-color: #172b54;
  --accent-color: #ffffff;
  --secondary-color: #f9f9f9;
  --dark-color: #3b3b3c;
}

/* Globals */

/* Composition */
.flow > * + * {
  margin-top: var(--flow-spacing, 1rem);
}

/* Utilities */
/* Tailwind CSS (Used for Utilities) */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Blocks */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
