---
import Navbar from "../components/Navbar.astro";
import Logo from "../components/icons/Logo.astro";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import WellerTower from "../assets/wellerTower.jpeg";
---

<Layout title="Uh Oh. Page not Found">
  <Navbar />
  <div class="h-0 min-h-[678px] bg-white mt-16">
    <div
      class="grid min-h-full grid-cols-1 grid-rows-1 bg-white lg:grid-cols-[max(50%,_36rem)_1fr]"
    >
      <header
        class="mx-auto w-full max-w-7xl px-6 pt-6 sm:pt-10 lg:col-span-2 lg:col-start-1 lg:row-start-1"
      >
        <a href="/">
          <span class="sr-only">Concordia University, Nebraska</span>
          <Logo class="h-10 w-auto sm:h-12" />
        </a>
      </header>
      <main
        class="mx-auto w-full max-w-7xl px-6 py-24 sm:py-32 lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:px-8"
      >
        <div class="max-w-xl">
          <p class="text-base font-semibold leading-8 text-cune-blue">404</p>
          <h1
            class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl"
          >
            Page not found
          </h1>
          <p class="mt-6 text-base leading-7 text-gray-600">
            Sorry, we couldn't find the page you're looking for.
          </p>
          <div class="mt-10">
            <a class="text-sm font-semibold leading-7 text-cune-blue" href="/">
              <span aria-hidden="true">←</span>
               Back to home
            </a>
          </div>
        </div>
      </main>
      <div
        class="hidden lg:relative lg:col-start-2 lg:row-start-1 lg:row-end-4 lg:block"
      >
        <Image
          src={WellerTower}
          alt="Weller Tower at Concordia University, Nebraska"
          class="absolute inset-0 h-full w-full object-cover"
        />
      </div>
    </div>
  </div>
</Layout>
