---
import { Image } from "astro:assets";
import TEAM_IMG from "../assets/programming-team-2022.jpg";
import NIBBLE_NIBBLERS from "../assets/nibble-nibblers.jpg";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Team2024 from "../assets/team-2024.jpg";
import Team2024_1 from "../assets/team-2024-1.jpg";
import Python from "../assets/python-logo.svg";
import DJANGO from "../assets/django-logo-negative.svg";
import ASTRO from "../assets/astro-logo.svg";
import FASTAPI from "../assets/fastapi-logo.svg";
import REACT from "../assets/react-logo.svg";
---

<Layout title="About Us">
  <Navbar />
  <div class="bg-white px-6 py-32 lg:px-8">
    <article class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
      <p class="text-base font-semibold leading-7 text-cune-blue">
        What is the
      </p>
      <h1
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Programming Team
      </h1>
      <p class="mt-6 text-xl leading-8">
        The Concordia University, Nebraska's Competitive Programming and
        Software Development Team, shortened to Concordia Programming Team, is a
        new extra-curricular for those Computer Science and Information
        Technology students who want a next-level experience.
      </p>
      <figure class="mt-16">
        <Image
          class="object-cover bg-gray-50 rounded-xl aspect-video"
          src={Team2024}
          alt="2024 Team featuring Andrew Brandt, Alyssa Butler, and Alec Johnston"
        />
        <figcaption class="mt-4 flex gap-x-2 text-sm leading-6 text-gray-500">
          Team Members Andrew Brandt, Alyssa Butler, and Alec Johnston work
          together to debug some code.
        </figcaption>
      </figure>
      <section class="max-w-7xl mt-10">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">
          Our Mission
        </h2>
        <p class="mt-6">
          Our job is to make you the best computer scientist that you can be. To
          that end, we teach industry-standard tools, practices, and languages.
          Both hard and soft skills. But skills as a developer are only half the
          battle. To be the best computer scientist that you can be requires
          skills and knowledge of the field itself. At Concordia you'll be at a
          program where each professor knows you. As a member of the team,
          you'll compete in nation-wide and world-wide competitions to push your
          ability to the next level.
        </p>
      </section>
      <section class="max-w-7xl mt-10">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">
          Learn Industry-Standard Languages and Tools
        </h2>
        <p class="mt-6">
          At Concordia we teach industry standard languages and tools to prepare
          you for wherever you are called.
        </p>
        <div class="flex items-center mt-6 gap-x-3">
          <figure class="">
            <Image
              class="object-cover bg-gray-50 rounded-xl aspect-square mx-auto"
              src={Python}
              alt="2024 Team featuring Andrew Brandt, Alyssa Butler, and Alec Johnston"
            />
            <figcaption
              class="mt-4 flex gap-x-2 text-sm leading-6 text-gray-500 text-center"
            >
              The Python Language
            </figcaption>
          </figure>
          <p class="">
            Elevate your competitive programming skills with Python at Concordia
            University, where our small, faith-driven community offers
            personalized guidance and support. Dive into complex algorithms and
            coding challenges while benefiting from close-knit classes and
            dedicated faculty. At Concordia, you'll excel in programming and
            embrace values of integrity and collaboration that will shape your
            future.
          </p>
        </div>
        <figure class="mt-16">
          <Image
            class="object-contain bg-gray-50 px-1.5 py-2.5 rounded-xl aspect-square mx-auto h-56 w-full"
            src={DJANGO}
            alt="Django Logo"
          />
          <figcaption
            class="mt-4 flex gap-x-2 text-sm leading-6 text-gray-500 text-center"
          >
            <a target="_blank" href="https://djangoproject.com">
              Django, the web framework for perfectionists with deadlines
            </a>
          </figcaption>
        </figure>
        <p class="mt-10">
          Unlock your potential with Django at Concordia University, where
          you'll gain hands-on experience building dynamic web applications in a
          supportive, faith-driven environment. Our small class sizes ensure
          personalized attention as you master this powerful Python framework.
          Embrace your passion for coding and stand out in the tech industry
          while upholding the values of integrity and community that define
          Concordia.
        </p>
      </section>
      <section class="max-w-7xl mt-10">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">
          Compete Against Schools Across the Country in Programming Competitions
        </h2>
        <figure class="mt-16">
          <Image
            class="object-cover bg-gray-50 rounded-xl aspect-video"
            src={Team2024_1}
            alt="2024 Team featuring Tytus Woodburn and Andrew Pfeiffer"
          />
          <figcaption class="mt-4 flex gap-x-2 text-sm leading-6 text-gray-500">
            Team Members Tytus Woodburn and Andrew Pfeiffer work to solve a
            problem
          </figcaption>
        </figure>
        <p class="mt-6">
          We compete in multiple different competitions over the course of the
          year. These include, but are not limited to: the International
          Collegiate Programming Competition (ICPC) and the Consortium for
          Computing Science in Colleges (CCSC). Learn how to decompose problems,
          apply algorithms and develop structures to build solutions, all while
          working with your team.
        </p>
      </section>
    </article>
    <hr class="max-w-7xl mx-auto mt-16" />
    <div class="lg:px-8 sm:py-32 sm:px-6 py-24 px-6">
      <div class="mx-auto max-w-2xl text-center" id="cta">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Reach out Today!
        </h2>
        <p class="mx-auto mt-6 text-lg leading-8 text-gray-600">
          If you are intested in joing our team, or learning more, please reach
          out to us and we will get back to you as soon as we can!
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a
            class="rounded-md bg-cune-blue px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm"
            href="mailto:ian.kollipara@cune.edu">Reach Out</a
          >
        </div>
      </div>
    </div>
  </div>
</Layout>
