---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

const title = "Concordia Programming Team FAQ";
const description =
  "Concordia University, Nebraska's Competitive Programming and Software Development Frequently Asked Questions";
---

<Layout {title} {description}>
  <Navbar />

  <section class="block">
    <div class="py-16 md:py-24 lg:py-32 mx-auto w-full max-w-7xl px-5 md:px-10">
      <div class="text-center mb-8 md:mb-12 lg:mb-16">
        <h2 class="font-bold text-3xl md:text-5xl">Frequently Asked</h2>
        <div class="mx-auto mt-4 max-w-[528px]">
          <p class="text-[#647084]">
            Lorem ipsum dolor sit amet consectetur adipiscing elit ut
            aliquam,purus sit amet luctus magna fringilla urna
          </p>
        </div>
      </div>
      <div
        class="flex h-auto justify-center gap-4 overflow-visible object-fill text-left flex-wrap grid-cols-1 lg:grid-cols-2 mb-8 md:mb-12 lg:mb-16"
      >
        <div class="flex-[1_1_500px]">
          <div class="mb-6 w-full border border-solid border-[#dfdfdf] p-8">
            <div
              class="flex cursor-pointer items-start justify-between"
              onclick="document.querySelector('#q1').classList.toggle('hidden'); document.querySelector('#q1L').classList.toggle('hidden')"
            >
              <div class="text-xl font-bold">
                How this theme is different from others in market?
              </div>
              <div
                class="relative ml-10 mt-1 flex h-5 w-5 items-center justify-center"
              >
                <div id="q1L" class="absolute h-5 w-0.5 bg-[#276ef1]"></div>
                <div class="h-0.5 w-5 bg-[#276ef1]"></div>
              </div>
            </div>
            <div id="q1" class="hidden overflow-hidden mb-4">
              <p class="">
                Pellentesque in nisi aliquet, pellentesque purus eget, imperdiet
                turpis. Fusce at enim quis neque viverra convallis. Vivamus ut
                elementum leo, eget tempus nisl. Sed viverra enim ac turpis
                posuere consectetur. Sed enim nibh, consequat vitae lacus eu,
                ullamcorper ullamcorper massa. Pellentesque purus eget,
                imperdiet turpis.
              </p>
            </div>
          </div>
          <div class="mb-6 w-full border border-solid border-[#dfdfdf] p-8">
            <div class="flex cursor-pointer items-start justify-between">
              <div class="text-xl font-bold">
                How this theme is different from others in market?
              </div>
              <div
                class="relative ml-10 mt-1 flex h-5 w-5 items-center justify-center"
              >
                <div class="absolute h-5 w-0.5 bg-[#276ef1]"></div>
                <div class="h-0.5 w-5 bg-[#276ef1]"></div>
              </div>
            </div>
            <div class="overflow-hidden mb-4">
              <p class="">
                Pellentesque in nisi aliquet, pellentesque purus eget, imperdiet
                turpis. Fusce at enim quis neque viverra convallis. Vivamus ut
                elementum leo, eget tempus nisl. Sed viverra enim ac turpis
                posuere consectetur. Sed enim nibh, consequat vitae lacus eu,
                ullamcorper ullamcorper massa. Pellentesque purus eget,
                imperdiet turpis.
              </p>
            </div>
          </div>
          <div class="mb-6 w-full border border-solid border-[#dfdfdf] p-8">
            <div class="flex cursor-pointer items-start justify-between">
              <div class="text-xl font-bold">
                How this theme is different from others in market?
              </div>
              <div
                class="relative ml-10 mt-1 flex h-5 w-5 items-center justify-center"
              >
                <div class="absolute h-5 w-0.5 bg-[#276ef1]"></div>
                <div class="h-0.5 w-5 bg-[#276ef1]"></div>
              </div>
            </div>
            <div class="overflow-hidden mb-4">
              <p class="">
                Pellentesque in nisi aliquet, pellentesque purus eget, imperdiet
                turpis. Fusce at enim quis neque viverra convallis. Vivamus ut
                elementum leo, eget tempus nisl. Sed viverra enim ac turpis
                posuere consectetur. Sed enim nibh, consequat vitae lacus eu,
                ullamcorper ullamcorper massa. Pellentesque purus eget,
                imperdiet turpis.
              </p>
            </div>
          </div>
        </div>
        <div class="flex-[1_1_500px]">
          <div class="mb-6 w-full border border-solid border-[#dfdfdf] p-8">
            <div class="flex cursor-pointer items-start justify-between">
              <div class="text-xl font-bold">
                How this theme is different from others in market?
              </div>
              <div
                class="relative ml-10 mt-1 flex h-5 w-5 items-center justify-center"
              >
                <div class="absolute h-5 w-0.5 bg-[#276ef1]"></div>
                <div class="h-0.5 w-5 bg-[#276ef1]"></div>
              </div>
            </div>
            <div class="overflow-hidden mb-4">
              <p class="">
                Pellentesque in nisi aliquet, pellentesque purus eget, imperdiet
                turpis. Fusce at enim quis neque viverra convallis. Vivamus ut
                elementum leo, eget tempus nisl. Sed viverra enim ac turpis
                posuere consectetur. Sed enim nibh, consequat vitae lacus eu,
                ullamcorper ullamcorper massa. Pellentesque purus eget,
                imperdiet turpis.
              </p>
            </div>
          </div>
          <div class="mb-6 w-full border border-solid border-[#dfdfdf] p-8">
            <div class="flex cursor-pointer items-start justify-between">
              <div class="text-xl font-bold">
                How this theme is different from others in market?
              </div>
              <div
                class="relative ml-10 mt-1 flex h-5 w-5 items-center justify-center"
              >
                <div class="absolute h-5 w-0.5 bg-[#276ef1]"></div>
                <div class="h-0.5 w-5 bg-[#276ef1]"></div>
              </div>
            </div>
            <div class="overflow-hidden mb-4">
              <p class="">
                Pellentesque in nisi aliquet, pellentesque purus eget, imperdiet
                turpis. Fusce at enim quis neque viverra convallis. Vivamus ut
                elementum leo, eget tempus nisl. Sed viverra enim ac turpis
                posuere consectetur. Sed enim nibh, consequat vitae lacus eu,
                ullamcorper ullamcorper massa. Pellentesque purus eget,
                imperdiet turpis.
              </p>
            </div>
          </div>
          <div class="mb-6 w-full border border-solid border-[#dfdfdf] p-8">
            <div class="flex cursor-pointer items-start justify-between">
              <div class="text-xl font-bold">
                How this theme is different from others in market?
              </div>
              <div
                class="relative ml-10 mt-1 flex h-5 w-5 items-center justify-center"
              >
                <div class="absolute h-5 w-0.5 bg-[#276ef1]"></div>
                <div class="h-0.5 w-5 bg-[#276ef1]"></div>
              </div>
            </div>
            <div class="overflow-hidden mb-4">
              <p class="">
                Pellentesque in nisi aliquet, pellentesque purus eget, imperdiet
                turpis. Fusce at enim quis neque viverra convallis. Vivamus ut
                elementum leo, eget tempus nisl. Sed viverra enim ac turpis
                posuere consectetur. Sed enim nibh, consequat vitae lacus eu,
                ullamcorper ullamcorper massa. Pellentesque purus eget,
                imperdiet turpis.
              </p>
            </div>
          </div>
        </div>
      </div>
      <p class="text-center">
        Can’t find the answer you’re looking for? Reach out to our <a
          href="#"
          class="">customer support team</a
        >.
      </p>
    </div>
  </section>
</Layout>
