---
import { Image } from "astro:assets";
import Navbar from "../components/Navbar.astro";
import WellerTower from "../assets/wellerTower.jpeg";
import Layout from "../layouts/Layout.astro";
---

<style>
  .fade-in {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<Layout
  title="Concordia Programming Team"
  description="The home for Concordia University, Nebraska Competitive Programming and Software Development"
  class="bg-gray-900 text-light w-screen h-screen overflow-x-hidden flex flex-col"
>
  <section class="grid h-full w-full place-content-center px-10 pt-10 gap-5">
    <div class="flex flex-col gap-5 lg:w-1/2 h-3/4 lg:h-1/2 m-auto">
      <Image
        class="mx-auto h-1/2 object-cover rounded-lg fade-in"
        src={WellerTower}
        alt="Weller Tower"
      />
      <h1
        transition:name="logo"
        class="text-5xl lg:text-8xl font-sans font-bold text-center bg-gradient-to-r from-blue-700 to-blue-400 bg-clip-text text-transparent py-5"
      >
        Concordia Programming Team
      </h1>
      <p class="text-lg lg:text-2xl w-7/8 ml-auto font-light tracking-wide">
        Concordia University, Nebraska’s programming team can help you improve
        your programming knowledge and skills. You’ll join a group of students
        dedicated to programming and software development. Whether your goal is
        to pursue software development, game development or simply to expand
        your programming skills, Concordia’s programming team can help prepare
        you for a successful career in the booming tech industry.
      </p>
      <div class="flex flex-row gap-5 mx-auto pb-5 lg:pb-0">
        <a
          transition:name="roster"
          class="px-5 py-3 border border-light hover:bg-light hover:text-gray-900 transition-colors duration-[400ms]"
          href="/roster">Roster</a
        >
        <a
          transition:name="about"
          class="px-5 py-3 border border-light hover:bg-light hover:text-gray-900 transition-colors duration-[400ms]"
          href="/about">About</a
        >
        <a
          transition:name="projects"
          class="px-5 py-3 border border-light hover:bg-light hover:text-gray-900 transition-colors duration-[400ms]"
          href="/projects">Our Projects</a
        >
      </div>
    </div>
  </section>
</Layout>
