---
import { Image } from "astro:assets";
import WellerTower from "../assets/wellerTower.jpeg";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout class="bg-white" title="Home">
  <div class="bg-white">
    <Navbar />
    <div class="relative">
      <div class="mx-auto max-w-7xl">
        <div class="relative z-10 pt-14 lg:w-full lg:max-w-2xl">
          <svg
            viewBox="0 0 100 100"
            preserveAspectRatio="none"
            aria-hidden="true"
            class="absolute top-0 bottom-0 right-8 hidden h-full w-80 translate-x-1/2 transform-cpu fill-white lg:block"
          >
            <polygon points="0,0 90,0 50,100 0,100"></polygon>
          </svg>
          <div class="relative px-6 py-6 sm:py-40 lg:px-8 lg:py-56 lg:pr-0">
            <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl">
              <h1
                class="text-4xl font-bold -tracking-tight text-gray-900 sm:text-6xl"
              >
                Concordia Programming Team
              </h1>
              <p class="mt-6 text-lg leading-8 text-gray-600">
                Concordia University, Nebraska's programming team can help you
                improve your programming knowledge and skills. You'll join a
                group of students dedicated to programming and software
                development. Whether your goal is to pursue software
                development, game development or simply to expand your
                programming skills, Concordia's programming team can help
                prepare you for a successful career in the booming tech
                industry.
              </p>
              <div class="mt-10 flex items-center gap-x-6">
                <a
                  class="rounded-md bg-cune-blue px-3.5 py-2.5 text-sm font-bold shadow-sm hover:bg-blue-900 text-white"
                  href="/about#cta">Contact Us</a
                >
                <a
                  class="text-sm font-bold leading-6 text-gray-900"
                  href="/about"
                >
                  Learn More
                  <span aria-hidden="true">→</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-gray-50 lg:absolute lg:top-0 lg:bottom-0 lg:right-0 lg:w-1/2"
      >
        <Image
          src={WellerTower}
          loading="eager"
          class="aspect-[3_/_2] object-cover lg:aspect-auto lg:h-full lg:w-full"
          alt="Weller Tower at Concorida University, Nebraska"
        />
      </div>
    </div>
  </div>
</Layout>
