---
/*
 * LinkButton.astro
 * Ian Kollipara
 * 2023-08-12
 *
 * Navigation Link Button
 */

type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a
  class="p-4 border border-light text-light font-sans border-solid rounded-md hover:bg-accent hover:text-dark active:text-dark active:bg-light transition-all"
  {href}
>
  <slot />
</a>
