---
import Logo from "./icons/Logo.astro";
---

<header class="absolute top-0 left-0 right-0 z-50">
  <div class="max-w-7xl mx-auto">
    <div class="px-6 pt-6 lg:max-w-2xl lg:pl-8 lg:pr-0">
      <nav
        aria-label="Global"
        class="flex items-center justify-between lg:justify-start"
      >
        <a href="/" class="-m-1.5">
          <span class="sr-only">Concordia Programming Team</span>
          <Logo class="h-8 w-auto" />
        </a>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open Main Menu</span>
        </button>
        <div class="hidden lg:flex lg:ml-12 lg:gap-x-14">
          <a class="text-sm font-semibold leading-6 text-gray-900" href="/"
            >Home</a
          >
          <a class="text-sm font-semibold leading-6 text-gray-900" href="/about"
            >About</a
          >
          <a
            class="text-sm font-semibold leading-6 text-gray-900"
            href="/roster">Roster</a
          >
          <a
            class="text-sm font-semibold leading-6 text-gray-900"
            href="/projects">Projects</a
          >
        </div>
      </nav>
    </div>
  </div>
</header>
