---
import X from "./icons/X.astro";
import Hamburger from "./icons/Hamburger.astro";
import LinkButton from "./LinkButton.astro";
---

<header>
  <nav
    x-data="{showMenu: false}"
    class="bg-primary flex flex-col lg:flex-row justify-between px-4 py-4"
  >
    <section class="flex w-full lg:w-auto self-center">
      <a
        href="/"
        class="text-light flex-1 tex-xl self-center lg:text-3xl font-semibold tracking-wide"
        >Concordia Programming Team</a
      >
      <button class="lg:hidden mr-4" @click="showMenu = !showMenu">
        <X
          :class="`${showMenu ? 'hidden' : 'block'} stroke-light fill-light`"
        />
        <Hamburger
          :class="`${showMenu ? 'block' : 'hidden'} stroke-light fill-light`"
        />
      </button>
    </section>
    <ul
      :class="`${showMenu ? 'flex flex-col m-12 gap-10 text-center mx-auto max-w-screen-sm h-screen z-10' : 'hidden'} lg:flex lg:flex-row lg:gap-4 lg:pr-4`"
    >
      <LinkButton href="/roster">Roster</LinkButton>
      <LinkButton href="/about">About Us</LinkButton>
      <LinkButton href="/competitive-programming">
        Competitive Programming
      </LinkButton>
      <LinkButton href="/software-development">Software Development</LinkButton>
      <LinkButton href="/faq">FAQ</LinkButton>
    </ul>
  </nav>
</header>
