---
import { ViewTransitions } from "astro:transitions";

type Props = {
  title?: string;
  class?: string;
};

const { title, ...rest } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <ViewTransitions />
    <title>Concordia Programming Team{title ? ` - ${title}` : ""}</title>
  </head>
  <body id="app" class={rest["class"]}>
    <slot />
  </body>
</html>
