---
import Head from "../components/Head.astro";
import Navbar from "../components/Navbar.astro";

type Props = {
  name: string;
  role: string;
};

const { name, role } = Astro.props;
---

<!DOCTYPE html>
<html>
  <Head title={name}>
    <meta name="description" content={`${role} ${name} Roster Page`} />
  </Head>
  <body class="w-full flex flex-col">
    <Navbar />
    <section class="mx-auto w-5/6 mb-24 lg:w-2/3">
      <slot />
    </section>
  </body>
</html>
